/**
 * Style sheet for the app, this will get added after responsive library.
 */
:root {
    --main-color: #855A80;
    --main-color-dark: #463344;
}

body {background-color: #eee; color: #222; font-family: sans-serif;}
body {display: block; margin: 0; padding: 0;}
.header {background-color: #1F1C1E; color: var(--main-color);}
.header h1 {padding: 0.8em 0 0 0; margin: 0;}
.header-nav h2 {padding: 0; margin: 0;}
.header, .header-nav, .app {padding: 1.1em;}
.header-nav {background-color: var(--main-color);}
.header-nav .content {display: block; height: 3em; line-height: 3em;}
.app {background-color: white;}


